# files imported from ...
3rdparty/sbc-fw-alchemy
#
Makefile
Makefile.Dockerfile.generic
#
requirements.txt
img-mangler
img-mangler.Dockerfile.d
#
amd64-Debian-Bookworm-Cloud-Image.img.url
amd64-EFI-CI-bookworm.Dockerfile.d
amd64-Debian-Trixie-Cloud-Image.img.url
amd64-EFI-CI-trixie.Dockerfile.d
#
bin/img-mangler
bin/IRun
bin/binfmt-helper
#

*.Dockerfile

*.pyc
*.sw*
.env

.deps

*.img
*.img.gz
*.tar
*.tar.gz
*.tgz
*.img.xz
*.zip
*.tar.zst
*.tar.zstd
*.7z
*.rar
*.initrd
*.initrd.gz
*.initrd.xz
*.initrd.zst
*.initrd.zsd

authorized_keys
config

input
output
